h1 {
    color: #D13109;
    font-family: "Yu Gothic ", simhei;
    font-weight: bold;
}

#status {
    text-align: center;
    font-size: 20px;
    color: red;
}
body{
    background: url("../../img/123.gif");
    background-attachment: fixed;
    background-position: 20% 40%;
    background-size: cover;
    position:relative;
    color:#2A2A2A;
    font-weight: 200;
}

#f{
    clear: both;
    background: rgba(100%,1000%,100%,0.3);
    position:relative;
    padding: 0px 50px 20px 10px;
    border-radius:10px;

}
