#search0{
    background-color:#5bc0de;
    padding:10px;
    margin-bottom:5px;
}
#search1{
    background-color:#FFD991;
    padding:10px;
    margin-bottom:5px;
}
#search2{
    background-color:pink;
    padding:10px;
    margin-bottom:5px;
}
#search3{
    background-color:yellow;
    padding:10px;
    margin-bottom:5px;
}
#ground{
        width: 600px;
        height: 450px;
}
#tabletime{
        border-collapse:separate;
        border-spacing:25px 40px;
}

